First_csharp_example/First_csharp_example/bin/
First_csharp_example/First_csharp_example/obj/
First_csharp_example/packages/
geckodriver.log
First_csharp_example/.vs/
LiteCardTests/LiteCardTests/bin/
LiteCardTests/LiteCardTests/obj/
LiteCardTests/packages/
LiteCardTests/.vs/

